/* 
    Document   : screen
    Created on : 21.07.2010, 14:01:36
    Author     : oracle
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body {
    
    background-color: burlywood;
}

td#map {
    float: left;
    width: 500px;
    margin: 10px;
    padding: 5px;
    padding-top: 0px;
    margin-bottom: 0px;
   
}



