/* 
    Document   : screen
    Created on : 21.07.2010, 14:01:36
    Author     : oracle
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/*
*/
* {
margin:0;
padding:0;
}
h1, h2, h3, ul, p {
margin:0 0 0.5em;
padding:5px;
}
html, body {
height:100%;
/*text-align:center;*/
}
#outer {
background: #ccff99/*url("/images/spointbg.jpg") repeat-y scroll right top #FFFFFF`*/;
border-left:1px solid #000000;
border-right:1px solid #000000;
color:#000000;
margin:-22px auto 0;
min-height:100%;
text-align:left;
width:1060px;
}
* html #outer {
height:100%;
}
#header {
background:none repeat scroll 0 0 #304A00;
border-bottom:1px solid #000000;
border-top:22px solid #000000;
color:#FFFFFF;
width:1060px;
}
#header h1 {
    text-align: center
}

#header ul {
list-style:none outside none;
}
#header ul li {
display:inline;
}
#header a {
color:#FFFFFF;
}
#header2 {
background:none repeat scroll 0 0 #D2DA9C;
border-bottom:1px solid #000000;
border-top:1px solid #000000;
color:#000000;
width:1060px;
text-align: center;
}
#centrecontent {
width:1060px;
}
#right {
float:right;
width:529px;
}
#left {
float:left;
width:529px;
}
#footer {
background:none repeat scroll 0 0 #4C7300;
border:1px solid #000000;
clear:both;
color:#FFFFFF;
height:20px;
margin:auto;
text-align:center;
width:1060px;
}
* html #footer {
height:20px;
}
.clearer {
clear:both;
height:1px;
margin-top:-1px;
overflow:hidden;
}

.errors {
    background-color: red
}

#password-label{
    color: #000000
}

#username-label{
    color: #000000
}

#aktionen
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
/*width:525px;*/
border-collapse:collapse;
}
#aktionen td, #aktionen th
{
font-size:0.75em;
border:1px solid #98bf21;
padding:2px 5px 1px 5px;
}
#aktionen th
{
font-size:0.75em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#A7C942;
color:#ffffff;
}
#aktionen tr.alt td
{
color:#000000;
background-color:#EAF2D3;
}

#info
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
width:100%;
border-collapse:collapse;
}
#info td, #info th
{
font-size:0.75em;
border:1px solid #98bf21;
padding:2px 5px 1px 5px;
}
#info th
{
font-size:0.75em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#A7C942;
color:#ffffff;
}
#info tr.alt td
{
color:#000000;
background-color:#EAF2D3;
}

.mapfull{
     height: 450px;
    width: 1060px;
}

.maphalf{
    height: 450px;
    width: 529px;
}
